<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
        
      
          <%= f.input :name %>
    <%= f.input :price_cost %>
    <%= f.input :percentaje %>
    <%= f.input :price_total %>
    <%= f.input :quantity %>
    <%= f.input :barcode %>
    <%= f.input :articles_code_supplier %>
    <%= f.input :supplier_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
