<h1>Listing articles</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Price cost</th>
    <th>Percentaje</th>
    <th>Price total</th>
    <th>Cantidad</th>
    <th>Proveedor </th>
    <th>codigo Proveedor </th>




    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.price_cost %></td>
    <td><%= article.percentaje %></td>
    <td><%= number_to_currency(article.price_total) %></td>
    <td><%= article.quantity %></td>
    <td><%= article.supplier_id %></td>
    <td><%= article.articles_code_supplier %></td>


    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
