<div class="row" >
     <div class="span12">
         <% if flash[:error] %>
             <li class="alert alert-error"><%= flash[:error]  %></li>
         <% end %>
         <% if notice %>
             <li class="alert alert-success"><%= notice  %></li>
         <% end %>
      </div>
    <div class="span3 side articulo">
         <%= simple_form_for '', method: 'get' do |f| %>
            <div class="search">
              <%= f.input( :q, label: 'Articulos', input_html: { 
                          data: {'autocomplete-field' => true,
                                  'autocomplete-for' => '#_article_id',
                                  'autocomplete-url' => articles_path(format: :json)
                                } 
                              }) %>
              <%= f.input :article_id, as: :hidden%>
            </div>
          <% end %> 
  </div>
  <div class="span8 section">

    <div class="title">
        <h2>Listado de Articulos</h2>
    </div>



<div class="row">
        <div class="span12">
                
        </div>
</div>



<% if @articles %>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Price cost</th>
    <th>Percentaje</th>
    <th>Price total</th>
    <th>Cantidad</th>
    <th>Proveedor </th>
    <th>codigo Proveedor </th>




    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.price_cost %></td>
    <td><%= article.percentaje %></td>
    <td><%= number_to_currency(article.price_total) %></td>
    <td><%= article.quantity %></td>
    <td><%= article.supplier_id %></td>
    <td><%= article.articles_code_supplier %></td>


    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'New Article', new_article_path %>

</div>
